.formContainer{  
  display: flexbox;
  max-width: 500px;
  margin: auto;
}

.formContainer > h2 {
  display: flex;
  margin: auto;
  font-size: 2rem
}

.formControl{
  display: flex;
}

.TextField{
  margin: 9px;
  /*width: 100%;*/
  max-width: 500px;
}

.divGrade{
  display: flex;
  width: 100%;
  justify-content: space-between;
}