.ClosingContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.PrintAndPreviewContainer {
  display: flex;
  width: 230px;
  justify-content: space-evenly;
  margin: auto;
}
