.tableContainer {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid black;
}
.bold {
  font-weight: bold;
}
.right {
  text-align: right;
}
.highlight {
  background-color: #f0f0f0;
  font-weight: bold;
}
.noBorder {
  border: none;
}

.textCenter {
  text-align: center;
}
