.tableContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  width: 500px;
}

.tHead {
  display: flex;
  justify-content: center;
}

.tbody {
  display: flex;
}
