.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-evenly;
  height: 26rem;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  height: auto;
}

.selectConditions {
  width: 11.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 5px;
}

.selectTimes {
  max-width: 10rem;
}
